<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests"> <!-- The sentence parallel is added in order to have them running in simultaneously -->
	<listeners>
		<listener class-name="Academy.Listeners"/>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Academy.AppTest" />
		</classes>
	</test>
	<test thread-count="5" name="Validate Navigation Bar">
		<classes>
			<class name="Academy.validateNavigationBar" />
		</classes>
	</test>
	<test thread-count="5" name="Home Page">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>
	<test thread-count="5" name="Validate Title">
		<classes>
			<class name="Academy.validateTitle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
